<div class="container">
  <div class="heading">
    <h1>Login</h1>
    <button id="close_dialog">X</button>
  </div>
  <div class="body">
    <form id="login_form">
      <h2>Username:</h2>
      <input type="text" id="username" name="username" placeholder="value" required>

      <h2>Password:</h2>
      <input type="password" id="password" name="password" autocomplete="off" placeholder="value" required>
    </form>
  </div>
  <div class="footer">
    <button id="sign_in">Sign in</button>
  </div>
</div>