@import url('../../../style.css'); /* Be sure the styles.css loads first */

:root{
  --header-height: 12%;
  --footer-height: 15%;
}

.container{
  height: 70%;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 3px white;
  display: block;
  background-color: rgb(247, 247, 247);
}

.container .heading{
  background-color: rgb(73, 148, 239);
  display: flex;  
  align-items: center;
  height: var(--header-height);
}

.container .heading h1{
  color: white;
  margin-left: 10px;
}

.container .heading button{
  margin-left: auto;
  margin-right: 5px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.body{
  height: calc(100% - var(--header-height) - var(--footer-height)); /*Complete height minus 10% header minus 10% footer*/
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.body form{
  width: 100%;
  margin: 0px 50px 0px 50px;
}

.body form input{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 15pt;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: 5px;
}

.body form input:focus{
  border-bottom: 1px solid black;
  outline: none;
}

.footer{
  height: var(--footer-height);
  background-color: rgb(226, 226, 226);
  border-top: 1px solid rgb(173, 173, 173);
  display: flex;
  align-items: center;
}

.footer button{
  margin-left: auto;
  margin-right: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  overflow: hidden;
  color: rgb(78, 74, 74);
}

.footer button:hover{
  cursor: pointer;
  background-color: rgb(214, 214, 214);
}

.footer button:active{
  background-color: rgb(198, 198, 198);
}