html,
body {
  margin: 0;
}

.hidden {
  display: none;
}

/* App-bar styling */
.app-bar-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 60px;
  background-color: rgb(234, 234, 234);
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 5px;
}

.heading-title {
  flex: 1;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-title h1 {
  letter-spacing: 10px;
}

/* Filterbar for rooms booking */
.heading-bar {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: rgb(234, 234, 234);
}

.heading {
  margin-right: auto;
  margin-left: 10px;
}

#customer-table td {
  padding: 20px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}