<div class="container">
  <div class="header">
    <h1>Register</h1>
    <button id="close_reg_dialog">X</button>
  </div>
  <div class="reg_body">
    <form id="reg_form">
      <div class="element">
        <input type="text" id="reg_username" name="reg_username" autocomplete="off" placeholder="username" required>
      </div>
      <div class="element">
        <input type="password" id="reg_password" name="reg_password" autocomplete="off" placeholder="password" required>
      </div>
      <div class="element">
        <input type="email" id="reg_email" name="reg_email" autocomplete="off" placeholder="test.test@test.com" required>
      </div>
      <div class="element">
        <input type="tel" id="reg_tel" name="reg_tel" autocomplete="off" placeholder="+1234567890" required>
      </div>
    </form>
  </div>
  <div class="reg_footer">
    <button id="register">Register</button>
  </div>
</div>