html, body{
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App-bar styling */
.app-bar-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 60px;
  background-color: rgb(234, 234, 234);
  align-items: center;
  gap: 5px;
}

.app-bar-container .heading-title{
  flex: 1;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-bar-container .heading-title h1{
  letter-spacing: 10px;
}

.app-bar-container .overview-container{
  position: relative;
  display: inline-block;
}

.app-bar-container .overview-container img{
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.app-bar-container .overview-container .card-dialog{
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 20em;
  height: 25em;
}

.app-bar-container .overview-container .card-dialog .items{
  width: 100%;
  height: calc(100% - 10%);
  overflow-y: auto;
}

.app-bar-container .overview-container .card-dialog .close-div{
  height: 10%;
  display: flex;
  align-items: center;
}

.app-bar-container .overview-container .card-dialog .close-div button{
  height: 90%;
  color: rgb(78, 74, 74);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 2px;
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}

.app-bar-container .overview-container .card-dialog .close-div button:hover{
  cursor: pointer;
  background-color: rgb(215, 215, 215);
}

.app-bar-container .overview-container .card-dialog .close-div button:active{
  background-color: rgb(198, 198, 198);
}

.app-bar-container .overview-container .card-dialog .close-div button:disabled{
  background-color: #e7e7e760;
  cursor: default;
  color: #55555586;
}

.app-bar-container .overview-container .card-dialog .close-div #resultPrice{
  white-space: nowrap;
}

.app-bar-container .overview-container .card-dialog .close-div button, 
.app-bar-container .overview-container .card-dialog .close-div #resultPrice{
  flex: 1;
  margin: 0px 2px 0px 2px;
}
  
.app-bar-container .buttons{
  margin-left: auto;
  margin-right: 15px;
  height: 35px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.app-bar-container .buttons button{
  color: rgb(78, 74, 74);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 2px;
  background-color: rgb(227, 227, 227);
  width: 100px;
  height: 100%;
  display: none;
}

.app-bar-container .buttons button:hover{
  cursor: pointer;
  background-color: rgb(214, 214, 214);
}

.app-bar-container .buttons button:active{
  background-color: rgb(198, 198, 198);
}

/* !Karussell-Container FUNKTIONIERT NOCH NICHT !!! */
.carousel {
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  margin: 20px auto; /* Zentrierung */
}

/* Container für alle Bilder */
.carousel-images {
  display: flex;
  width: 600%; /* 6 Bilder nebeneinander, also 6 * 100% */
  animation: slide 36s infinite linear; /* 36s für alle Bilder, unendlich wiederholen */
}

/* Jedes Bild im Karussell */
.carousel-image {
  width: 100%; /* Jedes Bild nimmt die volle Breite des Containers ein */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8bc34a;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

/* Animation für den kontinuierlichen Bildwechsel */
@keyframes slide {
  0% { transform: translateX(0); }           /* Bild 1 sichtbar */
  16.66% { transform: translateX(-100%); }    /* Bild 2 sichtbar */
  33.33% { transform: translateX(-200%); }    /* Bild 3 sichtbar */
  50% { transform: translateX(-300%); }       /* Bild 4 sichtbar */
  66.66% { transform: translateX(-400%); }    /* Bild 5 sichtbar */
  83.33% { transform: translateX(-500%); }    /* Bild 6 sichtbar */
  100% { transform: translateX(-600%); }      /* Zurück zu Bild 1 */
}

/* Filterbar for rooms booking */
.container-filterbar{
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: rgb(234, 234, 234);
}

.container-filterbar .filterbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
}

.container-filterbar .apply-filter{
  margin: 2px 10px 2px auto;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  height: 35px;
  width: 100px;
  overflow: hidden;
  color: white;
  background-color: rgb(43, 99, 210);
}

.container-filterbar .apply-filter:hover{
  cursor: pointer;
  background-color: rgb(214, 214, 214);
  color: black;
}

.container-filterbar .apply-filter:active{
  background-color: rgb(198, 198, 198);
  color: black;
}

.heading{
  margin-left: 10px;
  margin-right: 10px;
}

.heading h3{
  word-break: keep-all;
  white-space: nowrap;
}

.filter{
  display: flex;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  width: fit-content;
  background-color: #cacaca;
  margin: 2px;
  height: 30px;
  position: relative;
}

.filter .filter-title{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e3e3e3;
  height: 100%;
}

.filter .result{
  width: 100%;
  height: 100%;
  width: 12em;
}

.filter .result input{
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12pt;
  text-align: center;
}

.filter .result input:focus{
  border: none;
  outline: none;
}

.filter .input_number{
  width: 3em;
  height: 100%;
}

.filter .input_number .count{
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12pt;
  text-align: center;
}

.filter .input_number .count:focus{
  border: none;
  outline: none;
}

/* Login Dialog */
.login-dialog{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  width: 30%;
  height: 50%;
}

.reg-dialog{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  width: 25%;
  height: 70%;
}

.maengel-dialog{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  width: 30%;
  height: 50%;
}

/* Dark background when login or registration will be displayed */
.dark-background{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Halbtransparentes Overlay */
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.holiday-rooms-container{
  display: flex;
  flex-flow: row wrap;
}

.activity-card-container{
  display: flex;
  flex-flow: row wrap;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.complaint-container{
  display: flex;
  flex-flow: row wrap;
}



